* 
{
	margin: 0;
}

body 
{
	font-family: Helvetica;
	max-width: 2000px;
	margin: 0 auto; 
	background-color: #DEEFFF;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }

.clear 
{
	clear: both; 
}

.container
{
	display: table;
	height: 260px;
}

#header 
{
	background: #0F466E;
	color: white;
	padding: 15px 0 15px 15px;
}

/* unvisited link */
#sidebar 	a:link 
{
	color: white;
}

/* visited link */
#sidebar 	a:visited 
{
	color: #DEEFFF;
}

/* mouse over link */
#sidebar 	a:hover 
{
	color: #0068CD;
}

/* selected link */
#sidebar 	a:active 
{
	color: white;
}

#main-content 
{	
	padding: 0 0 0 10px;
	vertical-align: top;
	display: table-cell;
}

#sidebar 
{
	display: table-cell;
	position:relative;
	float: left;
	color: white;
	width: 250px;
	height: 100%;
	background-color: #0F466E;
}

#sidebar ol 
{
	margin: 0;
	padding: 10px;
}

#sidebar ul 
{
	list-style-type: none; 
}

#sidebar li 
{
	font-size: 15px;
	line-height: 30px;
	list-style-type: none;
}

#sidebar p
{
	margin: 10px 0;
}

.lesson 
{
	background-color: #0F466E;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

.concept 
{
	background-color: #DEEFFF;
	padding: 4px;
	margin: 10px;
	color: black;
}

.concept-title 
{
	font-size: 20px;
	font-weight: bold;
	margin: 8px;
	text-align: center;
	color: #294860;
}

.concept-description 
{
	font-weight: lighter;
	margin: 8px;
}

.code 
{
	font-family: Courier;
	font-size: 13px;
	color : black;
	font-weight: bold;
	padding-left:  4px;
	padding-right: 4px;
}
